---
layout: post
slug: "projects"
title: "项目列表"
noDate: "true"
comments: "true"
---

<style>
.projects .item {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  clear: both;
  border-top: 1px #ddd solid;
  padding: 15px 0;
}

.projects .item .image{
  width: 30%;
  float: left;
}

.projects .item .content{
  width: 70%;
  float: left;
  padding: 0 15px;
}

</style>

<blockquote>
  过去开发的一些开源项目。
</blockquote>

<div class="projects">
  <div class="item">
    <div class="image">
      <img src="http://7b1fa0.com1.z0.glb.clouddn.com/0001.png-w400"/>
    </div>
    <div class="content">
      <div class="title">
        <strong>Expper——网络文章收藏和分享社区</strong>
      </div>
      <div class="info">
        <a href="https://github.com/Raysmond/expper" target="_blank">https://github.com/Raysmond/expper</a>
        <br>2015-2016 | Spring Boot, Angularjs, PostgreSQL, Redis, RabbitMQ
        <p>
          一个文章收藏工具。结合Chrome插件，一键保存网络文章。支持统一格式排版，标签管理，快速搜索等；一个文章分享社区。将文章公开分享到社区。支持热门度和最新排序、点赞、评论、公共标签和订阅等。<a href="/2015/11/28/opensource-expper/" target="_blank">更多介绍</a>
        </p>

      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="http://7b1fa0.com1.z0.glb.clouddn.com/screencapture-blog-raysmond-9000-1480663084590.png-w400"/>
    </div>
    <div class="content">
      <div class="title">
        <strong>SpringBlog——基于Spring Boot的开源简易博客系统</strong>
      </div>
      <div class="info">
        <a href="https://github.com/Raysmond/SpringBlog" target="_blank">https://github.com/Raysmond/SpringBlog</a>
        <br>2015 | Spring Boot, Hibernate, MySQL, Redis, Jade, Markdown, Bootstrap
        <p>
          一个基于Spring Boot框架开发的Java博客系统。曾今用作自己的博客，现已转向和静态博客Hexo。这个项目很简单，当初开发也是学习之作。后端应用Spring Boot、MySQL、Redis缓存、Pygments做代码高亮、Jade模板引擎；前端使用Bootstrap，ACE编辑器做Markdown写作与渲染等。如果是初学Spring Web开发的，不妨看看。
        </p>

      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="http://7b1fa0.com1.z0.glb.clouddn.com/a%20typical%20MVC%20request%20workflow.PNG-w400"/>
    </div>
    <div class="content">
      <div class="title">
        <strong>Rays——PHP开发的一个轻量级MVC框架</strong>
      </div>
      <div class="info">
        <a href="https://github.com/Raysmond/SpringBlog" target="_blank">https://github.com/Raysmond/SpringBlog</a>
        <br>2014 | PHP
        <p>
          自己探索和开发的一个MVC Web框架。支持OOP编程、ActiveRecord ORM模型定义、统一路由（Routes）、Widget动态模块、用户授权与认证、表单验证、动态内容缓存、异常处理、日志、还包括一些工具类（html/form/images/pagination/validation/file upload等）。开发期间还阅读和参考了<a href="http://www.yiiframework.com/" target="_blank">Yii</a>框架的源码。基于Rays框架，我们几个同学开发了一个类似豆瓣小组的网站——<a href="https://github.com/Raysmond/FDUGroup" target="_blank">FDUGroup</a>。
        </p>

      </div>
    </div>
  </div>

  <div class="item">
    <div class="image">
      <img src="http://7b1fa0.com1.z0.glb.clouddn.com/old-blog/QQ%E6%88%AA%E5%9B%BE20121228205215.png-w400"/>
    </div>
    <div class="content">
      <div class="title">
        <strong>Rita Player——Java开发的MP3播放器</strong>
      </div>
      <div class="info">
        <a href="https://github.com/Raysmond/Rita-Player" target="_blank">https://github.com/Raysmond/Rita-Player</a>
        <br> 2012 | Java, Swing
        <p>
          学习Java时写的课程项目。支持MP3文件解析、播放控制（播放/暂停/上一首/下一首/进度条）、歌曲列表、在线歌词匹配（百度音乐）、歌词滚动和高亮显示、多UI主题等。<a href="/2012/12/31/rita-player-1-0/" target="_blank">更多介绍</a>
        </p>

      </div>
    </div>
  </div>


  <div class="item">
    <div class="image">
      <img src="http://7b1fa0.com1.z0.glb.clouddn.com/old-blog/20130606113154.png-w400"/>
    </div>
    <div class="content">
      <div class="title">
        <strong>RPhoto——JavaEE简易相册管理系统</strong>
      </div>
      <div class="info">
        <a href="https://github.com/Raysmond/RPhoto" target="_blank">https://github.com/Raysmond/RPhoto</a>
        <br> 2013 | Java, JavaEE, jQuery, JSP, Servlet, MySQL
        <p>
        JavaEE课程项目，完成时间短，代写写得很乱，也不完善。纯当学习，也拿出来见见丑。<a href="/2013/06/08/project-rphoto/" target="_blank">更多介绍</a>
        </p>

      </div>
    </div>
  </div>


  <div style="clear:both;">

  </div>

</div>
