---
layout: post
slug: "instagram"
title: "相冊"
noDate: "true"
comments: "false"
---
<script>
(function(u){var l;"undefined"!==typeof window?l=window:"undefined"!==typeof self&&(l=self);l.lazyload=u()})(function(){return function l(n,k,e){function r(g,m){if(!k[g]){if(!n[g]){var f="function"==typeof require&&require;if(!m&&f)return f(g,!0);if(t)return t(g,!0);f=Error("Cannot find module '"+g+"'");throw f.code="MODULE_NOT_FOUND",f;}f=k[g]={exports:{}};n[g][0].call(f.exports,function(e){var c=n[g][1][e];return r(c?c:e)},f,f.exports,l,n,k,e)}return k[g].exports}for(var t="function"==typeof require&&
require,m=0;m<e.length;m++)r(e[m]);return r}({1:[function(l,n,k){(function(e){function r(c){-1===k.call(p,c)&&p.push(c)}function t(c){function b(b){var d;d="function"===typeof c.src?c.src(b):b.getAttribute(c.src);d&&(b.src=d);b.setAttribute("data-lzled",!0);a[k.call(a,b)]=null}c=g({offset:333,src:"data-src",container:!1},c||{});"string"===typeof c.src&&r(c.src);var a=[];return function(h){h.onload=null;h.removeAttribute("onload");h.onerror=null;h.removeAttribute("onerror");-1===k.call(a,h)&&f(h,c,
b)}}function m(c){c="HTML"+c+"Element";if(!1!==c in e){var b=e[c].prototype.getAttribute;e[c].prototype.getAttribute=function(a){if("src"===a){for(var h,d=0,c=p.length;d<c&&!(h=b.call(this,p[d]));d++);return h||b.call(this,a)}return b.call(this,a)}}}function g(c,b){for(var a in c)void 0===b[a]&&(b[a]=c[a]);return b}function k(c){for(var b=this.length;b--&&this[b]!==c;);return b}n.exports=t;var f=l("in-viewport"),p=["data-src"];e.lzld=t();m("Image");m("IFrame")}).call(this,"undefined"!==typeof global?
global:"undefined"!==typeof self?self:"undefined"!==typeof window?window:{})},{"in-viewport":2}],2:[function(l,n,k){(function(e){function k(b,a,h){b.attachEvent?b.attachEvent("on"+a,h):b.addEventListener(a,h,!1)}function l(b,a,h){var d;return function(){var c=this,e=arguments,w=h&&!d;clearTimeout(d);d=setTimeout(function(){d=null;h||b.apply(c,e)},a);w&&b.apply(c,e)}}function m(b){function a(b,a,c){return{watch:function(){d.add(b,a,c)},dispose:function(){d.remove(b)}}}function h(a,d){if(!(c(e.document.documentElement,
a)&&c(e.document.documentElement,b)&&a.offsetWidth&&a.offsetHeight))return!1;var h=a.getBoundingClientRect(),f,q,k,g;b===e.document.body?(f=-d,q=-d,k=e.document.documentElement.clientWidth+d,g=e.document.documentElement.clientHeight+d):(g=b.getBoundingClientRect(),f=g.top-d,q=g.left-d,k=g.right+d,g=g.bottom+d);return h.right>=q&&h.left<=k&&h.bottom>=f&&h.top<=g}var d=g(),q=b===e.document.body?e:b,f=l(d.checkAll(function(b,a,c){h(b,a)&&(d.remove(b),c(b))}),15);k(q,"scroll",f);q===e&&k(e,"resize",f);
p&&v(d,b,f);setInterval(f,150);return{container:b,isInViewport:function(b,d,c){if(!c)return h(b,d);b=a(b,d,c);b.watch();return b}}}function g(){function b(b){for(var a=c.length-1;0<=a;a--)if(c[a][0]===b)return a;return-1}function a(a){return-1!==b(a)}var c=[];return{add:function(b,e,f){a(b)||c.push([b,e,f])},remove:function(a){a=b(a);-1!==a&&c.splice(a,1)},isWatched:a,checkAll:function(b){return function(){for(var a=c.length-1;0<=a;a--)b.apply(this,c[a])}}}}function v(b,a,c){function d(a){a=g.call([],
Array.prototype.slice.call(a.addedNodes),a.target);return 0<f.call(a,b.isWatched).length}var e=new MutationObserver(function(a){!0===a.some(d)&&setTimeout(c,0)}),f=Array.prototype.filter,g=Array.prototype.concat;e.observe(a,{childList:!0,subtree:!0,attributes:!0})}n.exports=function(b,a,c){var d=e.document.body;if(void 0===a||"function"===typeof a)c=a,a={};d=a.container||d;a=a.offset||0;for(var g=0;g<f.length;g++)if(f[g].container===d)return f[g].isInViewport(b,a,c);return f[f.push(m(d))-1].isInViewport(b,
a,c)};var f=[],p="function"===typeof e.MutationObserver,c=e.document.documentElement.compareDocumentPosition?function(b,a){return!!(b.compareDocumentPosition(a)&16)}:e.document.documentElement.contains?function(b,a){return b!==a&&(b.contains?b.contains(a):!1)}:function(b,a){for(;a=a.parentNode;)if(a===b)return!0;return!1}}).call(this,"undefined"!==typeof global?global:"undefined"!==typeof self?self:"undefined"!==typeof window?window:{})},{}]},{},[1])(1)});
    var lazy = lazyload({
      container: document.getElementsByTagName('body')[0]
    });
</script>
<style>
    #post-instagram{
        .article-entry{
            padding-right: 0;
        }
        padding: 30px;
    }
    .instagram{
        position: relative;
        min-height: 500px;
    }
  .instagram img {
    width: 100%;
  }
    .instagram .year {
        font-size: 16px;
    }
    .instagram .open-ins{
        padding: 10px 0;
        color: #cdcdcd;
        &:hover{
            color: #657b83;
        }
    }
    .instagram .year{
        display: inline;
    }
    .instagram .thumb {
        width: 25%;
        padding: 5px;
        height: 0;
        padding-bottom: 25%;
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .instagram .album h1 em{
        font-style: normal;
        font-size: 14px;
        margin-left: 10px;
    }
    .instagram .album ul{
        clear: both;
        width: 100%;
        text-align: left;
    }
    .instagram .album li{
        list-style: none;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 5px;
        margin-bottom: -10px;
        height: 0;
        width: 25%;
        position: relative;
        padding-bottom: 25%;
        &:before{
            display: none;
        }
    }
    .instagram .album div.img-box{
        position: absolute;
        width: 90%;
        height: 90%;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
        box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
    }
    .instagram .album div.img-box img{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }
    .instagram .album div.img-box .img-bg{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0px;
        width: 100%;
        margin: -5px;
        padding: 5px;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
        box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
        -webkit-transition: all 0.15s ease-out 0.1s;
        -moz-transition: all 0.15s ease-out 0.1s;
        -o-transition: all 0.15s ease-out 0.1s;
        transition: all 0.15s ease-out 0.1s;
        opacity: 0.2;
        cursor: pointer;
        display: block;
        z-index: 3;
    }
    .instagram .album div.img-box .icon {
        font-size: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -7px;
        margin-top: -7px;
        color: #999;
        z-index: 1;
    }
    .instagram .album div.img-box .img-bg:hover{
        opacity: 0;
    }
    .photos-btn-wrap {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 20px;
    }
    .photos-btn {
        font-size: 16px;
        color: #333;
        background: #fff;
        margin-bottom: -4px;
        padding: 5px 8px 3px;
    }
    .photos-btn.active {
        color: #08c;
        border: 1px solid #e5e5e5;
        border-bottom: 5px solid #fff;
    }
    @media screen and (max-width:600px) {
        .instagram .thumb {
            width: 50%;
            padding-bottom: 50%;
        }
        .instagram .album li {
            width: 100%;
            position: relative;
            padding-bottom: 100%;
            text-align: center;
        }
        .instagram .album div.img-box{
            margin: 0;
            width: 90%;
            height: 90%;
        }
    }
</style>


<div class="instagram itemscope itemtype="http://schema.org/ImageGallery">
    <a href="https://www.instagram.com/raysmond29/" target="_blank" class="open-ins">圖片來源于我的Instagram，正在加载中…</a>
    <br>
    <a href="http://raysmond.com/2016/11/30/how-to-display-instagram-posts-on-website/">如何同步和顯示Instagram照片？</a>
</div>

<script>
var initPhotoSwipeFromDOM = function(gallerySelector) {
  // parse slide data (url, title, size ...) from DOM elements
  // (children of gallerySelector)
  var parseThumbnailElements = function(el) {
    el = el.parentNode.parentNode;
    var thumbElements = el.getElementsByClassName('thumb'),
      numNodes = thumbElements.length,
      items = [],
      figureEl,
      linkEl,
      size,
      type,     // video or not
      target,
      item;
    for (var i = 0; i < numNodes; i++) {
      figureEl = thumbElements[i]; // <figure> element
      // include only element nodes
      if (figureEl.nodeType !== 1) {
        continue;
      }
      linkEl = figureEl.children[0]; // <a> element
      size = linkEl.getAttribute('data-size').split('x');
      type = linkEl.getAttribute('data-type');
      target = linkEl.getAttribute('data-target');
      // create slide object
      item = {
        src: linkEl.getAttribute('href'),
        w: parseInt(size[0], 10),
        h: parseInt(size[1], 10)
      };
      if (figureEl.children.length > 1) {
        // <figcaption> content
        item.title = figureEl.children[1].innerHTML;
      }
      if (linkEl.children.length > 0) {
        // <img> thumbnail element, retrieving thumbnail url
        item.msrc = linkEl.children[0].getAttribute('src');
        item.type = type;
        item.target = target;
        item.html = '<video src="'+target+'" controls="controls" autoplay="autoplay"></video>';
        if (type === 'video') {
            //item.src = null;
        }
      }
      item.el = figureEl; // save link to element for getThumbBoundsFn
      items.push(item);
    }
    return items;
  };
  // find nearest parent element
  var closest = function closest(el, fn) {
    return el && (fn(el) ? el : closest(el.parentNode, fn));
  };
  // triggers when user clicks on thumbnail
  var onThumbnailsClick = function(e) {
    e = e || window.event;
    e.preventDefault ? e.preventDefault() : e.returnValue = false;
    var eTarget = e.target || e.srcElement;
    // find root element of slide
    var clickedListItem = closest(eTarget, function(el) {
      return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
    });
    if (!clickedListItem) {
      return;
    }
    // find index of clicked item by looping through all child nodes
    // alternatively, you may define index via data- attribute
    var clickedGallery = clickedListItem.parentNode,
      // childNodes = clickedListItem.parentNode.childNodes,
      // numChildNodes = childNodes.length,
      childNodes = document.getElementsByClassName('thumb'),
      numChildNodes = childNodes.length,
      nodeIndex = 0,
      index;
    for (var i = 0; i < numChildNodes; i++) {
      if (childNodes[i].nodeType !== 1) {
        continue;
      }
      if (childNodes[i] === clickedListItem) {
        index = nodeIndex;
        break;
      }
      nodeIndex++;
    }
    if (index >= 0) {
      // open PhotoSwipe if valid index found
      openPhotoSwipe(index, clickedGallery);
    }
    return false;
  };
  // parse picture index and gallery index from URL (#&pid=1&gid=2)
  var photoswipeParseHash = function() {
    var hash = window.location.hash.substring(1),
      params = {};
    if (hash.length < 5) {
      return params;
    }
    var vars = hash.split('&');
    for (var i = 0; i < vars.length; i++) {
      if (!vars[i]) {
        continue;
      }
      var pair = vars[i].split('=');
      if (pair.length < 2) {
        continue;
      }
      params[pair[0]] = pair[1];
    }
    if (params.gid) {
      params.gid = parseInt(params.gid, 10);
    }
    return params;
  };
  var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
    var pswpElement = document.querySelectorAll('.pswp')[0],
      gallery,
      options,
      items;
    items = parseThumbnailElements(galleryElement);
    // define options (if needed)
    options = {
      // define gallery index (for URL)
      galleryUID: galleryElement.getAttribute('data-pswp-uid'),
      getThumbBoundsFn: function(index) {
        // See Options -> getThumbBoundsFn section of documentation for more info
        var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
        pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
        rect = thumbnail.getBoundingClientRect();
        return {
          x: rect.left,
          y: rect.top + pageYScroll,
          w: rect.width
        };
      }
    };
    // PhotoSwipe opened from URL
    if (fromURL) {
      if (options.galleryPIDs) {
        // parse real index when custom PIDs are used
        // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
        for (var j = 0; j < items.length; j++) {
          if (items[j].pid == index) {
            options.index = j;
            break;
          }
        }
      } else {
        // in URL indexes start from 1
        options.index = parseInt(index, 10) - 1;
      }
    } else {
      options.index = parseInt(index, 10);
    }
    // exit if index not found
    if (isNaN(options.index)) {
      return;
    }
    if (disableAnimation) {
      options.showAnimationDuration = 0;
    }
    // Pass data to PhotoSwipe and initialize it
    gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
    var $tempVideo;
    var stopVideoHandle = function() {
        if ($tempVideo) {
            $tempVideo.remove();
            $tempVideo = null;
        }
    }
    var changeHandle = function() {
        var item = gallery.currItem;
        stopVideoHandle();
        if (item.type === 'video') {
            console.log(item)
            var $ctn = item.container;
            var style = $ctn.getElementsByClassName('pswp__img')[0].style;
            var $video = document.createElement('video');
            $video.setAttribute('autoplay', 'autoplay');
            $video.setAttribute('controls', 'controls');
            $video.setAttribute('src', item.target);
            $video.style.width = style.width;
            $video.style.height = style.height;
            $video.style.position = 'absolute';
            $video.style.zIndex = 2;
            $tempVideo = $video;
            $ctn.appendChild($video);
        }
    }
    gallery.listen('initialZoomIn', changeHandle);
    gallery.listen('afterChange', changeHandle);
    gallery.listen('initialZoomOut', stopVideoHandle);
  };
  // loop through all gallery elements and bind events
  var galleryElements = document.querySelectorAll(gallerySelector);
  for (var i = 0, l = galleryElements.length; i < l; i++) {
    galleryElements[i].setAttribute('data-pswp-uid', i + 1);
    galleryElements[i].onclick = onThumbnailsClick;
  }
  // Parse URL and open gallery if it contains #&pid=3&gid=1
  var hashData = photoswipeParseHash();
  if (hashData.pid && hashData.gid) {
    openPhotoSwipe(hashData.pid, galleryElements[hashData.gid - 1], true, true);
  }
};
var Viewer = (function() {
  function init() {
    initPhotoSwipeFromDOM('.photos');
  }
  return {
    init: init
  }
})();
var _collection = [];
var _count = 0;
function addMask(elem) {
    var rect = elem.getBoundingClientRect();
    var style = getComputedStyle(elem, null);
    var mask = document.createElement('i');
    mask.className = 'icon-film';
    mask.style.color = '#fff';
    mask.style.fontSize = '26px';
    mask.style.position = 'absolute';
    mask.style.right = '10px';
    mask.style.bottom = '10px';
    mask.style.zIndex = 1;
    elem.parentNode.appendChild(mask);
}
var createVideoIncon = function() {
    var $videoImg = $('.thumb a[data-type="video"]');
    for (var i = 0, len = $videoImg.length; i < len; i++) {
        addMask($videoImg[i])
    }
}
var render = function(res) {
    var ulTmpl = "";
    for (var j = 0, len2 = res.list.length; j < len2; j++) {
        var data = res.list[j].arr;
        var liTmpl = "";
        for (var i = 0, len = data.link.length; i < len; i++) {
            // var minSrc = 'http://litten.me/ins-min/' + data.link[i] + '.min.jpg';

            //var src = 'http://litten.me/ins/' + data.link[i];
            //var type = data.type[i];
            //var target = (src + (type === 'video' ? '.mp4' : '.jpg'));
            //src += '.jpg';
            var minSrc = data.link[i];
            var src = data.src[i];
            var type = data.type[i];
            var target = src;
            if(type==='video'){
              target=data.video[i];
            }
            var dataSize = data.size[i];
            liTmpl += '<figure class="thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">\
                  <a href="'+src+'" itemprop="contentUrl" data-size="'+dataSize+'" data-type="' + type + '" data-target="' + target + '">\
                    <img data-type="' + type + '" data-src="'+minSrc+'" src="'+minSrc+'" itemprop="thumbnail" onload="lazy(this)"/>\
                  </a>\
                  <figcaption style="display:none" itemprop="caption description">'+data.text[i] +' <a href="https://www.instagram.com/p/'+data.code[i]+'" target="_blank">Instagram鏈接</a></figcaption>\
              </figure>';
        }
        ulTmpl = ulTmpl + '<section class="archives album"><h1 class="year">' + data.year + '<em>' + data.month + '月</em></h1>\
            <ul class="img-box-ul">' + liTmpl + '</ul>\
            </section>';
    }
    var $wrap = $('<div class="photos" itemscope itemtype="http://schema.org/ImageGallery"></div>');
    $wrap.appendTo($(".instagram"));
    $(ulTmpl).appendTo($wrap);
    createVideoIncon();
    Viewer.init();
    //$("a[rel=example_group]").fancybox();
}
var replacer = function(str) {
    var arr = str.split("/");
    return "/assets/ins/" + arr[arr.length - 1];
}
var ctrler = function(data) {
    var imgObj = {};
    for (var i = 0, len = data.length; i < len; i++) {
        var y = data[i].y;
        var m = data[i].m;
        var src = replacer(data[i].src);
        var text = data[i].text;
        var key = y + "" + ((m + "").length == 1 ? "0" + m : m);
        if (imgObj[key]) {
            imgObj[key].srclist.push(src);
            imgObj[key].text.push(text);
        } else {
            imgObj[key] = {
                year: y,
                month: m,
                srclist: [src],
                text: [text]
            }
        }
    }
    render(imgObj);
}

var result = [];
var dataFile = "http://7b1fa0.com1.z0.glb.clouddn.com/instagram/images/result.json?"+Math.random();
var dataDir = "http://7b1fa0.com1.z0.glb.clouddn.com/instagram/images/";

function loadInstagram() {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
           if (xmlhttp.status == 200) {
               showInstagram(eval('('+xmlhttp.responseText+')'));
           }
           else if (xmlhttp.status == 400) {
              alert('There was an error 400');
           }
           else {
               alert('something else other than 200 was returned');
           }
        }
    };

    xmlhttp.open("GET", dataFile, true);
    xmlhttp.send();
}

function compare(a,b) {
  if (a.date > b.date)
    return -1;
  if (a.date < b.date)
    return 1;
  return 0;
}

function showInstagram(data){
  data.sort(compare);
  for(var i=0;i<data.length;i++){
    addPic(data[i]);
  }
}

function addPic(item){
  var date = new Date(item.date*1000);
  var dateKey = date.toISOString().slice(0, 7);
  var subArr = null;

  for(var i=0;i<result.length;i++){
    if(result[i].date == dateKey){
      subArr = result[i];
      break;
    }
  }

  if(subArr === null){
    subArr = {
      date: dateKey,
      arr: {
        year: date.getFullYear(),
        month: date.getMonth()+1,
        src: [],
        link: [],
        text: [],
        type: [],
        code: [],
        video: [],
        size: []
      }
    };
    result.push(subArr);
  }

  var picName = item.display_src.match(/[0-9_]*_n.jpg/)[0];

  subArr.arr.src.push(dataDir+picName);
  subArr.arr.link.push(dataDir+picName+'!640x640');
  subArr.arr.text.push(item.caption);
  subArr.arr.code.push(item.code);
  subArr.arr.size.push(item.dimensions.width+'x'+item.dimensions.height);
  subArr.arr.type.push(item.is_video ? 'video' : 'image');
  subArr.arr.video.push(item.is_video ? item.video_url : '');
}

// automatically generated at 20161207195315
var data=[ {"code": "BNfm9JrAna9", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9a0e\u884c\u5d07\u660e\u5cf6\u3002\u7b2c\u4e00\u6b21\u8e0f\u4e0a\u9019\u88e1\u7684\u8f2a\u6e21\uff0c\u6bd4\u60f3\u8c61\u4e2d\u7a69\u548c\u5feb\u3002\u559c\u6b61\u5728\u9019\u88e1\u770b\u6d77\uff0c\u770b\u8239\u5c3e\u7ffb\u6efe\u9000\u51fa\u7684\u6d6a\u2026\u2026", "likes": {"count": 0}, "date": 1480636873, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14592069_1819813651567780_5182609106187321344_n.jpg?ig_cache_key=MTM5NjAwNTczNzU0ODkwNDEyNQ%3D%3D.2", "is_video": false, "id": "1396005737548904125", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14592069_1819813651567780_5182609106187321344_n.jpg?ig_cache_key=MTM5NjAwNTczNzU0ODkwNDEyNQ%3D%3D.2"} , {"code": "BNvY-vBg-aF", "dimensions": {"width": 750, "height": 750}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u56e0\u70ba\u5065\u8eab\uff0c\u60f3\u5b78\u505a\u98ef\u3002\u5728\u8d85\u5e02\u548c\u7db2\u4e0a\u8cb7\u4e86\u5404\u7a2e\u88dd\u5099\u3002\u7b2c\u4e00\u6b21\u505a\u65e9\u98ef\uff0c\u829d\u58eb\u706b\u817f\u725b\u5976\u86cb\u9905\uff0c\u7ffb\u721b\u4e86\uff0c\u662f\u4e0d\u61c9\u8a72\u7ffb\u9ebc\uff1f", "likes": {"count": 0}, "date": 1481166417, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15403502_348900438803373_3151769288113651712_n.jpg?ig_cache_key=MTQwMDQ0Nzg3MzM1MDYyNDkwMQ%3D%3D.2", "is_video": false, "id": "1400447873350624901", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/15403502_348900438803373_3151769288113651712_n.jpg?ig_cache_key=MTQwMDQ0Nzg3MzM1MDYyNDkwMQ%3D%3D.2"} , {"code": "BNei1vmg9P1", "dimensions": {"width": 1080, "height": 718}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9999\u6e2f\u8d64\u67f1\u5ee3\u5834", "likes": {"count": 0}, "date": 1480601161, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c181.0.718.718/15276629_232107043890474_1351859652408639488_n.jpg?ig_cache_key=MTM5NTcwNjE2MTM1NzExNjQwNQ%3D%3D.2.c", "is_video": false, "id": "1395706161357116405", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15276629_232107043890474_1351859652408639488_n.jpg?ig_cache_key=MTM5NTcwNjE2MTM1NzExNjQwNQ%3D%3D.2"} , {"code": "BNenBtgAd7o", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9a0e\u884c\u4e09\u7532\u6e2f\u3002\u7b2c\u4e8c\u6b21\u4f86\uff0c\u958b\u5fc3\u3002\u7b2c\u4e00\u6b21\u4f86\uff0c\u4e00\u500b\u4eba\uff0c\u5f88\u60b2\u5287\uff0c\u628aiPhone\u6454\u788e\u4e86\u5c4f\u5e55\u3002", "likes": {"count": 1}, "date": 1480603356, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15276546_1853740161528071_8885795471474294784_n.jpg?ig_cache_key=MTM5NTcyNDU3NTkyMDIxNzgzMg%3D%3D.2", "is_video": false, "id": "1395724575920217832", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15276546_1853740161528071_8885795471474294784_n.jpg?ig_cache_key=MTM5NTcyNDU3NTkyMDIxNzgzMg%3D%3D.2"} , {"code": "BNemGShAS2O", "dimensions": {"width": 1080, "height": 718}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9999\u6e2f\u8d64\u67f1\u8ecd\u4eba\u58b3\u5834\u3002\u9999\u6e2f\u958b\u57e0\u521d\u671f\u8ecd\u4eba\u58b3\u5834\u4e4b\u4e00\uff0c\u5f8c\u4f86\u4e8c\u6230\u6b7b\u96e3\u8005\u4e5f\u6709\u90e8\u5206\u5b89\u846c\u65bc\u6b64\u3002", "likes": {"count": 0}, "date": 1480602870, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c181.0.718.718/15306612_1821211251425574_7701395120762912768_n.jpg?ig_cache_key=MTM5NTcyMDQ5MjQ5Njc5Mjk3NA%3D%3D.2.c", "is_video": false, "id": "1395720492496792974", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15306612_1821211251425574_7701395120762912768_n.jpg?ig_cache_key=MTM5NTcyMDQ5MjQ5Njc5Mjk3NA%3D%3D.2"} , {"code": "BNmFukqgLXa", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 2}, "caption": "\u7ffb\u5fae\u535a\u7684\u6642\u5019\u770b\u5230\u7684\u6f2b\u756b\uff0c\u53c3\u7167\u8457\uff0c\u96a8\u624b\u756b\u4e00\u5f35\u3002\u6c92\u6709\u7e6a\u756b\u529f\u5e95\uff0c\u4e00\u6642\u8208\u8d77\uff0c\u5225\u5410\u69fd\u3002\u50cf\u4e0d\u50cf\uff0c\u300c\u4f60\u7684\u540d\u5b57\u300d\u88e1\u7684\u4e09\u8449\uff1f", "likes": {"count": 1}, "date": 1480854333, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15253301_1622232208080401_927040060589604864_n.jpg?ig_cache_key=MTM5NzgyOTkyNTA0MTM4Njk3MA%3D%3D.2", "is_video": false, "id": "1397829925041386970", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15253301_1622232208080401_927040060589604864_n.jpg?ig_cache_key=MTM5NzgyOTkyNTA0MTM4Njk3MA%3D%3D.2"} , {"code": "BNelcllgbd8", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u55b5\u55b5\u661f\u4eba\u3002\u9732\u500b\u81c9\uff0c\u7d66\u4f60\u500b\u773c\u795e\uff0c\u611f\u53d7\u4e0b\u3002", "likes": {"count": 0}, "date": 1480602528, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14607150_669380546566581_5276245483503747072_n.jpg?ig_cache_key=MTM5NTcxNzYyNjc1NTM5NzUwMA%3D%3D.2", "is_video": false, "id": "1395717626755397500", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14607150_669380546566581_5276245483503747072_n.jpg?ig_cache_key=MTM5NTcxNzYyNjc1NTM5NzUwMA%3D%3D.2"} , {"code": "BNqzOwuA8CI", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5348\u5f8c\uff0c\u967d\u5149\uff0c\u4f86\u6293\u6211\u3002", "likes": {"count": 1}, "date": 1481012408, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15258896_1149002808529233_7688914109009494016_n.jpg?ig_cache_key=MTM5OTE1NTk0OTAwODMwNjMxMg%3D%3D.2", "is_video": false, "id": "1399155949008306312", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15258896_1149002808529233_7688914109009494016_n.jpg?ig_cache_key=MTM5OTE1NTk0OTAwODMwNjMxMg%3D%3D.2"} , {"code": "BNoPvpzg7WH", "dimensions": {"width": 750, "height": 937}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5065\u8eab\u516b\u500b\u6708\u3002\u589e\u808c\u6bd4\u8f03\u6162\uff0c\u5dee\u4e0d\u591a\u516b\u65a4\u3002\u7e7c\u7e8c\u52aa\u529b\uff0c\u5e0c\u671b\u518d\u9577\u5341\u65a4\uff01", "likes": {"count": 0}, "date": 1480926694, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.125.999.999/15258609_658451697668535_9172166702312456192_n.jpg?ig_cache_key=MTM5ODQzNjkyOTY5OTI5NjY0Nw%3D%3D.2.c", "is_video": false, "id": "1398436929699296647", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/15258609_658451697668535_9172166702312456192_n.jpg?ig_cache_key=MTM5ODQzNjkyOTY5OTI5NjY0Nw%3D%3D.2"} , {"code": "BNek29zghQR", "dimensions": {"width": 1080, "height": 718}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e00\u8449\u5169\u8776", "likes": {"count": 0}, "date": 1480602220, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c181.0.718.718/15253361_1317115594985820_5542285627652833280_n.jpg?ig_cache_key=MTM5NTcxNTA0MTQxOTk5MDAzMw%3D%3D.2.c", "is_video": false, "id": "1395715041419990033", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15253361_1317115594985820_5542285627652833280_n.jpg?ig_cache_key=MTM5NTcxNTA0MTQxOTk5MDAzMw%3D%3D.2"} , {"code": "BNemdnYgVa5", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5f9e\u5f35\u6c5f\u9a0e\u884c\u5230\u4e0a\u6d77\u5e2b\u8303\u5927\u5b78\uff0c\u4e00\u8eab\u9ed1", "likes": {"count": 0}, "date": 1480603061, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14553142_997754040328678_5315848062680170496_n.jpg?ig_cache_key=MTM5NTcyMjA5NTQ1MDc0MDQwOQ%3D%3D.2", "is_video": false, "id": "1395722095450740409", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14553142_997754040328678_5315848062680170496_n.jpg?ig_cache_key=MTM5NTcyMjA5NTQ1MDc0MDQwOQ%3D%3D.2"} , {"code": "BNeknhRASKS", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u67af\u6728\u65b0\u679d", "likes": {"count": 0}, "date": 1480602093, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15275736_570366196502922_5897682914287550464_n.jpg?ig_cache_key=MTM5NTcxMzk3OTk4NDE5MjE0Ng%3D%3D.2", "is_video": false, "id": "1395713979984192146", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15275736_570366196502922_5897682914287550464_n.jpg?ig_cache_key=MTM5NTcxMzk3OTk4NDE5MjE0Ng%3D%3D.2"} , {"code": "BNelS7BAj6H", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u300c\u8725\u8734\u300d\u5728\u9999\u6e2f\u570b\u969b\u91d1\u878d\u4e2d\u5fc3\u5ee3\u5834\uff0c\u767c\u73fe\u4e00\u53ea\u5c0f\u5c0f\u7684\u8725\u8734\uff0c\u4e00\u52d5\u4e0d\u52d5\u3002\u5c0d\u9762\u662f\u534a\u9732\u5929\u7684\u5c0f\u9152\u5427\uff0c\u7a7f\u8457\u4eae\u9e97\u7684\u767d\u9818\u5728\u8ac7\u5929\u8aaa\u5730\uff0c\u559d\u8457\u5c0f\u9152\u3002\u5f62\u5f62\u8272\u8272\u7684\u8def\u4eba\uff0c\u5f9e\u8eab\u65c1\u5feb\u901f\u8d70\u904e\uff0c\u6c92\u6709\u4eba\u8a3b\u610f\u5230\u5b83\u3002", "likes": {"count": 0}, "date": 1480602449, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15251704_929860233782226_2047359752647737344_n.jpg?ig_cache_key=MTM5NTcxNjk2MjU3MDYxNjQ1NQ%3D%3D.2", "is_video": false, "id": "1395716962570616455", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15251704_929860233782226_2047359752647737344_n.jpg?ig_cache_key=MTM5NTcxNjk2MjU3MDYxNjQ1NQ%3D%3D.2"} , {"code": "BNehgflAUgF", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9999\u6e2f\u8d64\u67f1", "likes": {"count": 0}, "date": 1480600463, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15337143_1691672721143620_898768580097605632_n.jpg?ig_cache_key=MTM5NTcwMDMwMjk5NjM5MTk0MQ%3D%3D.2", "is_video": false, "id": "1395700302996391941", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15337143_1691672721143620_898768580097605632_n.jpg?ig_cache_key=MTM5NTcwMDMwMjk5NjM5MTk0MQ%3D%3D.2"} , {"code": "BNeiaUUA9C0", "dimensions": {"width": 1080, "height": 718}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9999\u6e2f\u8d64\u67f1\u5ee3\u5834", "likes": {"count": 0}, "date": 1480600936, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c181.0.718.718/15306510_162126810928431_8495163608878022656_n.jpg?ig_cache_key=MTM5NTcwNDI3NjYyOTgzNTk1Ng%3D%3D.2.c", "is_video": false, "id": "1395704276629835956", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15306510_162126810928431_8495163608878022656_n.jpg?ig_cache_key=MTM5NTcwNDI3NjYyOTgzNTk1Ng%3D%3D.2"} , {"code": "BNegiSBg-LZ", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e09\u4e9e\u4e9e\u9f8d\u7063\uff0c\u56e0\u70ba\u9019\u88e1\u559c\u6b61\u4e0a\u5927\u6d77\uff01", "likes": {"count": 1}, "date": 1480599953, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15337269_218229881937764_1075953199581495296_n.jpg?ig_cache_key=MTM5NTY5NjAyNzgzNDc3MDEzNw%3D%3D.2", "is_video": false, "id": "1395696027834770137", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15337269_218229881937764_1075953199581495296_n.jpg?ig_cache_key=MTM5NTY5NjAyNzgzNDc3MDEzNw%3D%3D.2"} , {"code": "BNeZAUKA3zY", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5fa9\u65e6\u5f35\u6c5f\u6821\u5340", "likes": {"count": 0}, "date": 1480596005, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15251705_1362148950463855_4340261918024400896_n.jpg?ig_cache_key=MTM5NTY2MjkwNzMzNzA0NzI1Ng%3D%3D.2", "is_video": false, "id": "1395662907337047256", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15251705_1362148950463855_4340261918024400896_n.jpg?ig_cache_key=MTM5NTY2MjkwNzMzNzA0NzI1Ng%3D%3D.2"} , {"code": "BNZpChEAjfn", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u6cd5\u62c9\u5229\u4e94\u842c\u591a\u5c71\u5730\u8eca \u9a0e\u8d77\u4f86\u611f\u89ba\u8d85\u68d2", "likes": {"count": 1}, "date": 1480436639, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15276612_847769348658950_2481465372998369280_n.jpg?ig_cache_key=MTM5NDMyNjA1MjQ5NDUyMjM0Mw%3D%3D.2", "is_video": false, "id": "1394326052494522343", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15276612_847769348658950_2481465372998369280_n.jpg?ig_cache_key=MTM5NDMyNjA1MjQ5NDUyMjM0Mw%3D%3D.2"} , {"code": "BNR6MsVAAg_", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u300c\u4e95\u300d\u5f88\u559c\u6b61\u7684\u4e00\u9996\u6b4c \u80fd\u5531\u4e0a\u53bb\u5f88\u958b\u5fc3", "likes": {"count": 1}, "date": 1480177200, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15101740_205434453238622_3933555745185857536_n.jpg?ig_cache_key=MTM5MjE0OTcxODc2MjUyMjY4Nw%3D%3D.2", "is_video": false, "id": "1392149718762522687", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15101740_205434453238622_3933555745185857536_n.jpg?ig_cache_key=MTM5MjE0OTcxODc2MjUyMjY4Nw%3D%3D.2"} , {"code": "BNehGUSAY7i", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9999\u6e2f\u8d64\u67f1", "likes": {"count": 1}, "date": 1480600248, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15275640_336033156771145_1158610712776409088_n.jpg?ig_cache_key=MTM5NTY5ODUwNDE2MDA4Nzc3OA%3D%3D.2", "is_video": false, "id": "1395698504160087778", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15275640_336033156771145_1158610712776409088_n.jpg?ig_cache_key=MTM5NTY5ODUwNDE2MDA4Nzc3OA%3D%3D.2"} , {"code": "BNZpyf2AMNs", "dimensions": {"width": 750, "height": 750}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u770b\u3002\u6211\u7684\u62ac\u982d\u7d0b\u3002", "likes": {"count": 0}, "date": 1480437032, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15251771_663895180439239_4197939689816064000_n.jpg?ig_cache_key=MTM5NDMyOTM0OTcyMDY4NzQ2OA%3D%3D.2", "is_video": false, "id": "1394329349720687468", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/15251771_663895180439239_4197939689816064000_n.jpg?ig_cache_key=MTM5NDMyOTM0OTcyMDY4NzQ2OA%3D%3D.2"} , {"code": "BND6JxcACCM", "dimensions": {"width": 750, "height": 750}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4ece\u89c6\u9891\u4e2d\u622a\u7684\u56fe\uff0c\u4e0d\u662f\u5f88\u6e05\u6670\u3002\u5f88\u559c\u6b22\u5728\u8def\u4e0a\u7684\u81ea\u5df1\u3002", "likes": {"count": 0}, "date": 1479707414, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15046958_1030639343714564_5178485331992772608_n.jpg?ig_cache_key=MTM4ODIwODg2ODQxNjI5OTE0OA%3D%3D.2", "is_video": false, "id": "1388208868416299148", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15046958_1030639343714564_5178485331992772608_n.jpg?ig_cache_key=MTM4ODIwODg2ODQxNjI5OTE0OA%3D%3D.2"} , {"code": "BNqzWtCAOR6", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9019\u662f\uff0c\u4f5b\u5149\u9ebc\uff1f", "likes": {"count": 0}, "date": 1481012473, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14547675_966557216810879_3436577344129597440_n.jpg?ig_cache_key=MTM5OTE1NjQ5NDgwNDUwOTgxOA%3D%3D.2", "is_video": false, "id": "1399156494804509818", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14547675_966557216810879_3436577344129597440_n.jpg?ig_cache_key=MTM5OTE1NjQ5NDgwNDUwOTgxOA%3D%3D.2"} , {"code": "BNEbqM9AjRr", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e00\u6761\u8def\uff0c\u4e00\u53ea\u7f8a\uff0c\u4e00\u4e2a\u4eba\u3002\u5b83\u5b9a\u662f\u997f\u574f\u4e86\uff0c\u997c\u5e72\u5403\u5f97\u6d25\u6d25\u6709\u5473\uff0c\u5634\u91cc\u54ac\u7740\uff0c\u8fd8\u5ff5\u60f3\u6211\u624b\u91cc\u7684\u53e6\u4e00\u5757\u3002", "likes": {"count": 2}, "date": 1479724981, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15046816_650775245093609_6799342947973201920_n.jpg?ig_cache_key=MTM4ODM1NjIzMjUxOTIzNDY2Nw%3D%3D.2", "is_video": false, "id": "1388356232519234667", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15046816_650775245093609_6799342947973201920_n.jpg?ig_cache_key=MTM4ODM1NjIzMjUxOTIzNDY2Nw%3D%3D.2"} , {"code": "BNYiWRBApOU", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u6cbe\u82b1\u60f9\u8349", "likes": {"count": 3}, "date": 1480399577, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14624241_1621697908135309_1290317035959484416_n.jpg?ig_cache_key=MTM5NDAxNTE0ODM1MTU5MTMxNg%3D%3D.2", "is_video": false, "id": "1394015148351591316", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14624241_1621697908135309_1290317035959484416_n.jpg?ig_cache_key=MTM5NDAxNTE0ODM1MTU5MTMxNg%3D%3D.2"} , {"code": "BM5yoa0gfd9", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u516c\u4e3b\u57ce\u5821\u3002amazing live show", "likes": {"count": 0}, "date": 1479367927, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14498996_227601564319714_6416518897834393600_n.jpg?ig_cache_key=MTM4NTM2MTA0MDI5NTk4Mjk3Mw%3D%3D.2", "is_video": false, "id": "1385361040295982973", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14498996_227601564319714_6416518897834393600_n.jpg?ig_cache_key=MTM4NTM2MTA0MDI5NTk4Mjk3Mw%3D%3D.2"} , {"code": "BM5vhSWgnN1", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u521b\u6781\u901f\u5149\u8f6e\uff0c\u6b23\u8d4f\u80c6\u5927\u7684\u5973\u751f\u3002\u60f3\u6709\u4e00\u5929\uff0c\u5e36\u4f60\u53bb\u611f\u53d7\u760b\u72c2\u548c\u523a\u6fc0\uff0c\u52c7\u6562\u7684\u4f60\u5728\u54ea\u88e1\uff1f", "likes": {"count": 2}, "date": 1479366295, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15057257_357508657943591_5594728866259140608_n.jpg?ig_cache_key=MTM4NTM0NzM1NjAyNjg5MzE3Mw%3D%3D.2", "is_video": false, "id": "1385347356026893173", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057257_357508657943591_5594728866259140608_n.jpg?ig_cache_key=MTM4NTM0NzM1NjAyNjg5MzE3Mw%3D%3D.2"} , {"code": "BM8BUXZgZiN", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5077\u5f97\u534a\u65e5\u9633\u5149\u3002\u9019\u500b\u79cb\u5929\uff0c\u5929\u8272\u96e3\u5f97\u597d\u534a\u5929\u3002", "likes": {"count": 0}, "date": 1479442736, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15034739_923454197754944_4873368995564093440_n.jpg?ig_cache_key=MTM4NTk4ODU4Mjg4MzMwMTUxNw%3D%3D.2", "is_video": false, "id": "1385988582883301517", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15034739_923454197754944_4873368995564093440_n.jpg?ig_cache_key=MTM4NTk4ODU4Mjg4MzMwMTUxNw%3D%3D.2"} , {"code": "BM5wKNhAHkZ", "dimensions": {"width": 1080, "height": 1349}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u821f\u5c71\u5c0f\u6d0b\u5c71\uff0c\u6211\u7b2c\u4e00\u6b21\u4e00\u500b\u4eba\u53c3\u52a0\u4e92\u52a9\u7db2\u7684\u9031\u672b\u65c5\u884c\u6d3b\u52d5", "likes": {"count": 0}, "date": 1479366631, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.134.1080.1080/15057116_247293622354082_3601043981334478848_n.jpg?ig_cache_key=MTM4NTM1MDE2ODMzMjc2MTM2OQ%3D%3D.2.c", "is_video": false, "id": "1385350168332761369", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057116_247293622354082_3601043981334478848_n.jpg?ig_cache_key=MTM4NTM1MDE2ODMzMjc2MTM2OQ%3D%3D.2"} , {"code": "BM5vHfeg7cF", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e0a\u6d77\u7684\u6d77\u3002\u4e00\u8def\u5f80\u6771\u5230\u4e09\u7532\u6e2f\uff0c\u9a0e\u904e\u597d\u5e7e\u6b21\u3002", "likes": {"count": 0}, "date": 1479366084, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14482071_1901240980096985_7225498854441877504_n.jpg?ig_cache_key=MTM4NTM0NTU4MzQxMzQ0MjMwOQ%3D%3D.2", "is_video": false, "id": "1385345583413442309", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14482071_1901240980096985_7225498854441877504_n.jpg?ig_cache_key=MTM4NTM0NTU4MzQxMzQ0MjMwOQ%3D%3D.2"} , {"code": "BM5vSbngJ8V", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "Crazy Shanghai, Crazy People\u2026", "likes": {"count": 2}, "date": 1479366174, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15099596_1693800414265259_6215460904499150848_n.jpg?ig_cache_key=MTM4NTM0NjMzNTE4MzUxMTMxNw%3D%3D.2", "is_video": false, "id": "1385346335183511317", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15099596_1693800414265259_6215460904499150848_n.jpg?ig_cache_key=MTM4NTM0NjMzNTE4MzUxMTMxNw%3D%3D.2"} , {"code": "BM5w8S6AuUb", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u6211\u8bb0\u5f97\uff0c\u7b2c\u4e00\u6b21\u8fdc\u884c\u3002", "likes": {"count": 2}, "date": 1479367041, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15034924_1902555786639001_1509757029760106496_n.jpg?ig_cache_key=MTM4NTM1MzYxMDA5NDg5NjQxMQ%3D%3D.2", "is_video": false, "id": "1385353610094896411", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15034924_1902555786639001_1509757029760106496_n.jpg?ig_cache_key=MTM4NTM1MzYxMDA5NDg5NjQxMQ%3D%3D.2"} , {"code": "BM5ubbvgMKM", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5f20\u6c5f\u6709\u8f68\u7535\u8f66\uff0c\u4ee5\u53ca\u96be\u5f97\u7684\u84dd\u5929", "likes": {"count": 0}, "date": 1479365723, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15099420_1842687585966510_7499147434371579904_n.jpg?ig_cache_key=MTM4NTM0MjU1NTc0NjUxNzY0NA%3D%3D.2", "is_video": false, "id": "1385342555746517644", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15099420_1842687585966510_7499147434371579904_n.jpg?ig_cache_key=MTM4NTM0MjU1NTc0NjUxNzY0NA%3D%3D.2"} , {"code": "BM5yafoA4NF", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u6771\u4eac\u5854\u591c\u8272\u3002\u4e0a\u6b21\u592a\u5306\u5fd9\uff0c\u5f88\u60f3\u518d\u53bb\u6771\u4eac\u770b\u770b\u3002", "likes": {"count": 0}, "date": 1479367813, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15043487_1749612675303363_1280019499680006144_n.jpg?ig_cache_key=MTM4NTM2MDA4MzM4MjQwMzkwOQ%3D%3D.2", "is_video": false, "id": "1385360083382403909", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15043487_1749612675303363_1280019499680006144_n.jpg?ig_cache_key=MTM4NTM2MDA4MzM4MjQwMzkwOQ%3D%3D.2"} , {"code": "BM5tpabAFkn", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5bb6\u4e61\u65e5\u843d\uff0c\u7f8e\u5f97\u4e0d\u50cf\u8a71", "likes": {"count": 0}, "date": 1479365313, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15099576_571382399726060_892459646801936384_n.jpg?ig_cache_key=MTM4NTMzOTExODM1NDk3OTExMQ%3D%3D.2", "is_video": false, "id": "1385339118354979111", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15099576_571382399726060_892459646801936384_n.jpg?ig_cache_key=MTM4NTMzOTExODM1NDk3OTExMQ%3D%3D.2"} , {"code": "BM5tc98gIaB", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5bb6\u4e61\u65e5\u843d\uff0c\u7f8e\u5f97\u4e0d\u50cf\u8a71", "likes": {"count": 0}, "date": 1479365211, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15057347_1028632687263948_7551964987967668224_n.jpg?ig_cache_key=MTM4NTMzODI2MzE0NDc5MzcyOQ%3D%3D.2", "is_video": false, "id": "1385338263144793729", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057347_1028632687263948_7551964987967668224_n.jpg?ig_cache_key=MTM4NTMzODI2MzE0NDc5MzcyOQ%3D%3D.2"} , {"code": "BM5uKt_g7JM", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5f20\u6c5f\u665a\u971e\uff0c\u4f60\u7e3d\u662f\u906e\u906e\u63a9\u63a9\uff0c\u4e00\u5e74\u4e5f\u96e3\u5f97\u9047\u898b\u4f60\u7684\u7f8e", "likes": {"count": 0}, "date": 1479365586, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15057193_1147124275384220_1703239362210168832_n.jpg?ig_cache_key=MTM4NTM0MTQwNzExMTM5Mzg2OA%3D%3D.2", "is_video": false, "id": "1385341407111393868", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057193_1147124275384220_1703239362210168832_n.jpg?ig_cache_key=MTM4NTM0MTQwNzExMTM5Mzg2OA%3D%3D.2"} , {"code": "BM5G3DEgqQ7", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u7ffb\u624b\u673a\u7ffb\u5230\uff0c\u51e0\u5e74\u524d\u5728\u5bb6\u62cd\u7684", "likes": {"count": 0}, "date": 1479344978, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15043719_353413605012660_8862079001368199168_n.jpg?ig_cache_key=MTM4NTE2ODUzMTU0MDMyMTMzOQ%3D%3D.2", "is_video": false, "id": "1385168531540321339", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15043719_353413605012660_8862079001368199168_n.jpg?ig_cache_key=MTM4NTE2ODUzMTU0MDMyMTMzOQ%3D%3D.2"} , {"code": "BM5wbyEArJ1", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u753b\u4e0e\u7269", "likes": {"count": 0}, "date": 1479366775, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15035778_1080428398736852_6828302417801510912_n.jpg?ig_cache_key=MTM4NTM1MTM3NTgwNTkxOTg2MQ%3D%3D.2", "is_video": false, "id": "1385351375805919861", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15035778_1080428398736852_6828302417801510912_n.jpg?ig_cache_key=MTM4NTM1MTM3NTgwNTkxOTg2MQ%3D%3D.2"} , {"code": "BM5xWs7AlAG", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "Very brave boy", "likes": {"count": 2}, "date": 1479367257, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14504786_1150931541655690_1232711985397760000_n.jpg?ig_cache_key=MTM4NTM1NTQyNDczNTMxODAyMg%3D%3D.2", "is_video": false, "id": "1385355424735318022", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14504786_1150931541655690_1232711985397760000_n.jpg?ig_cache_key=MTM4NTM1NTQyNDczNTMxODAyMg%3D%3D.2"} , {"code": "BM5uvMQADH_", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e0a\u5b66\u8def\uff0c\u5931\u53bb\u4e86\u7eff\u836b", "likes": {"count": 0}, "date": 1479365885, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15056750_1938057216421418_9054846750044454912_n.jpg?ig_cache_key=MTM4NTM0MzkxMzUwMTQwNTY5NQ%3D%3D.2", "is_video": false, "id": "1385343913501405695", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15056750_1938057216421418_9054846750044454912_n.jpg?ig_cache_key=MTM4NTM0MzkxMzUwMTQwNTY5NQ%3D%3D.2"} , {"code": "BM5tODVAJG-", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5f20\u6c5f\u79cb\u8272\uff0c\u79cb\u5929\u662f\u9019\u500b\u6821\u5712\u7684\u8863\u88dd", "likes": {"count": 1}, "date": 1479365089, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14624572_1369117306434191_3372614324630585344_n.jpg?ig_cache_key=MTM4NTMzNzIzODEzMjM5NjQ3OA%3D%3D.2", "is_video": false, "id": "1385337238132396478", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14624572_1369117306434191_3372614324630585344_n.jpg?ig_cache_key=MTM4NTMzNzIzODEzMjM5NjQ3OA%3D%3D.2"} , {"code": "BM0o7KaggOk", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5b8f\u6751\u6709\u4e9b\u6587\u827a\u5c0f\u5e97\uff0c\u68a6\u60f3\u5728\u54ea\u91cc\uff1f", "likes": {"count": 0}, "date": 1479195065, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15046870_175752369554298_162350979264544768_n.jpg?ig_cache_key=MTM4MzkxMDk3MzAwMTMwMjk0OA%3D%3D.2", "is_video": false, "id": "1383910973001302948", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15046870_175752369554298_162350979264544768_n.jpg?ig_cache_key=MTM4MzkxMDk3MzAwMTMwMjk0OA%3D%3D.2"} , {"code": "BM0oWjcAxSU", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u56de\u4e0d\u53bb\u7684\u8bb0\u5fc6", "likes": {"count": 1}, "date": 1479194765, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15056750_1938096703084394_1282590857945415680_n.jpg?ig_cache_key=MTM4MzkwODQ1NzI0OTQ0NTAxMg%3D%3D.2", "is_video": false, "id": "1383908457249445012", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15056750_1938096703084394_1282590857945415680_n.jpg?ig_cache_key=MTM4MzkwODQ1NzI0OTQ0NTAxMg%3D%3D.2"} , {"code": "BM0m6VnAlP7", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e91\u6d77\u6ce2\u6f9c\u5cf0\u505a\u5c9b", "likes": {"count": 0}, "date": 1479194010, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14596851_206230033154841_4897169449460695040_n.jpg?ig_cache_key=MTM4MzkwMjEyMDIwOTY5OTgzNQ%3D%3D.2", "is_video": false, "id": "1383902120209699835", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14596851_206230033154841_4897169449460695040_n.jpg?ig_cache_key=MTM4MzkwMjEyMDIwOTY5OTgzNQ%3D%3D.2"} , {"code": "BM5t2nVAO4A", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9010\u6e10\u6d88\u5931\u7684\u6751\u843d", "likes": {"count": 0}, "date": 1479365421, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15048018_951650364967729_3899852806101663744_n.jpg?ig_cache_key=MTM4NTM0MDAyNTU2NjE5NTIwMA%3D%3D.2", "is_video": false, "id": "1385340025566195200", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15048018_951650364967729_3899852806101663744_n.jpg?ig_cache_key=MTM4NTM0MDAyNTU2NjE5NTIwMA%3D%3D.2"} , {"code": "BM0kXgyAu92", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 8}, "caption": "\u8fd8\u6709\u591a\u5c11\u65f6\u95f4\u53ef\u4ee5\uff0c\u9a91\u7740\u5355\u8f66\uff0c\u8ffd\u7740\u5915\u9633\u3002", "likes": {"count": 15}, "date": 1479192676, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15057310_607143716139365_7339355735924408320_n.jpg?ig_cache_key=MTM4Mzg5MDkzMDkzMDc0MTExMA%3D%3D.2", "is_video": false, "id": "1383890930930741110", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057310_607143716139365_7339355735924408320_n.jpg?ig_cache_key=MTM4Mzg5MDkzMDkzMDc0MTExMA%3D%3D.2"} , {"code": "BM0nwyRgWKO", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9ec4\u5c71\u5b8f\u6751\u5357\u6e56", "likes": {"count": 1}, "date": 1479194456, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15057210_1610512385911742_2079157976815370240_n.jpg?ig_cache_key=MTM4MzkwNTg2MTgzOTE4NDUyNg%3D%3D.2", "is_video": false, "id": "1383905861839184526", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057210_1610512385911742_2079157976815370240_n.jpg?ig_cache_key=MTM4MzkwNTg2MTgzOTE4NDUyNg%3D%3D.2"} , {"code": "BM0j4nSAZAi", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 1}, "caption": "\u9a91\u884c\u5230\u5949\u8d24\uff0c\u8def\u8fc7\u7684\u4e00\u7247\u7a3b\u7530\u3002", "likes": {"count": 14}, "date": 1479192423, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15043474_212963439130052_4910536006161137664_n.jpg?ig_cache_key=MTM4Mzg4ODgwNzYwNjE5NDIxMA%3D%3D.2", "is_video": false, "id": "1383888807606194210", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15043474_212963439130052_4910536006161137664_n.jpg?ig_cache_key=MTM4Mzg4ODgwNzYwNjE5NDIxMA%3D%3D.2"} , {"code": "BM0nU7jAlYN", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u7b49\u5c06\u6765\u6709\u4e00\u5929\uff0c\u60f3\u544a\u8bc9\u4f60\uff0c\u6211\u4e00\u4e2a\u4eba\u770b\u8fc7\u7684\u98ce\u666f\u3002", "likes": {"count": 1}, "date": 1479194228, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14592175_642256892645982_4752119753810640896_n.jpg?ig_cache_key=MTM4MzkwMzk0NzY1MTE3NTk0OQ%3D%3D.2", "is_video": false, "id": "1383903947651175949", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/14592175_642256892645982_4752119753810640896_n.jpg?ig_cache_key=MTM4MzkwMzk0NzY1MTE3NTk0OQ%3D%3D.2"} , {"code": "BND5V7kANp8", "dimensions": {"width": 640, "height": 640}, "video_url": "https://scontent.cdninstagram.com/t50.2886-16/15181801_1148450605224718_3312065035332747264_n.mp4", "comments_disabled": false, "comments": {"count": 0}, "owner": {"id": "673488830"}, "likes": {"count": 1}, "date": 1479706989, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/15046874_318836855165943_495087232466550784_n.jpg?ig_cache_key=MTM4ODIwNTMwNTg3NTE5MjQ0NA%3D%3D.2", "is_video": true, "id": "1388205305875192444", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/15046874_318836855165943_495087232466550784_n.jpg?ig_cache_key=MTM4ODIwNTMwNTg3NTE5MjQ0NA%3D%3D.2", "video_views": 5} , {"code": "BNDw_7Bg7Jh", "dimensions": {"width": 640, "height": 640}, "video_url": "https://scontent.cdninstagram.com/t50.2886-16/15193164_1207597119278740_7876843946393993216_n.mp4", "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u8ddf\u8f66\u534f\u4ece\u590d\u65e6\u9a91\u884c\u5230\u5d07\u660e\u4e1c\u6ee9\u3002\u5728\u8fd9\u91cc\u98d9\u8f66\uff0c\u9732\u8425\uff0c\u70e7\u70e4\uff0c\u665a\u4f1a\uff0c\u8fd8\u6709\u5361\u62c9OK\uff0c\u73a9\u7684\u5f88\u55e8\u3002\u548c\u5f88\u591a\u5927\u4e00\u5927\u4e8c\u7684\u5c0f\u670b\u53cb\u4e0a\u8def\uff0c\u5927\u5bb6\u4f3c\u4e4e\u6709\u65e0\u5c3d\u7684\u4f53\u529b\uff0c\u4f60\u8ffd\u6211\u8d76\uff0c\u6b22\u4e50\u5f97\u4e0d\u50cf\u8bdd\u2026\u2026", "likes": {"count": 0}, "date": 1479702615, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/14547633_1467664689914871_1828648408638816256_n.jpg?ig_cache_key=MTM4ODE2ODYwOTA5NTk4NzgwOQ%3D%3D.2", "is_video": true, "id": "1388168609095987809", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/14547633_1467664689914871_1828648408638816256_n.jpg?ig_cache_key=MTM4ODE2ODYwOTA5NTk4NzgwOQ%3D%3D.2", "video_views": 3} , {"code": "BM0n9PPAx55", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5b8f\u6751\u6708\u6cbc\u6253\u635e\u5783\u573e\u7684\u5927\u7237", "likes": {"count": 0}, "date": 1479194558, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15034499_1783479105239017_7447734193347362816_n.jpg?ig_cache_key=MTM4MzkwNjcxNzU2OTU4ODg1Nw%3D%3D.2", "is_video": false, "id": "1383906717569588857", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15034499_1783479105239017_7447734193347362816_n.jpg?ig_cache_key=MTM4MzkwNjcxNzU2OTU4ODg1Nw%3D%3D.2"} , {"code": "BM0mO0zgwXJ", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5929\u90fd\u5cf0\u4e0b\u5c71", "likes": {"count": 1}, "date": 1479193653, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15043483_615170818654797_915364385268957184_n.jpg?ig_cache_key=MTM4Mzg5OTEzMDA0ODQ4MDcxMw%3D%3D.2", "is_video": false, "id": "1383899130048480713", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15043483_615170818654797_915364385268957184_n.jpg?ig_cache_key=MTM4Mzg5OTEzMDA0ODQ4MDcxMw%3D%3D.2"} , {"code": "hkEV_qu95P", "dimensions": {"width": 640, "height": 640}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u51cc\u6668", "likes": {"count": 0}, "date": 1386297218, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1170180_670213086332571_531102556_n.jpg?ig_cache_key=NjA0NjI3MzUzNjMyMjM1MDg3.2", "is_video": false, "id": "604627353632235087", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1170180_670213086332571_531102556_n.jpg?ig_cache_key=NjA0NjI3MzUzNjMyMjM1MDg3.2"} , {"code": "jlA0rEu9x3", "dimensions": {"width": 640, "height": 640}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u59b9\u59b9\u548c\u5f1f\u5f1f\uff0c\u8c01\u6bd4\u8f83\u5927\u5462\uff1f", "likes": {"count": 0}, "date": 1390623894, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1738510_627691153933863_761986802_n.jpg?ig_cache_key=NjQwOTIyMTQxNjMzMjcyOTUx.2", "is_video": false, "id": "640922141633272951", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1738510_627691153933863_761986802_n.jpg?ig_cache_key=NjQwOTIyMTQxNjMzMjcyOTUx.2"} , {"code": "BM0pS57giLy", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u96e8\u5ffd\u7136\u4e0b\u8d77\uff0c\u5230\u5929\u6865\u4e0b\u8eb2\u96e8\u7684\u73af\u536b\u5de5\u4eba\u3002", "likes": {"count": 0}, "date": 1479195260, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15043982_344453059248247_6880654379762843648_n.jpg?ig_cache_key=MTM4MzkxMjYwNDU2ODc4OTc0Ng%3D%3D.2", "is_video": false, "id": "1383912604568789746", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15043982_344453059248247_6880654379762843648_n.jpg?ig_cache_key=MTM4MzkxMjYwNDU2ODc4OTc0Ng%3D%3D.2"} , {"code": "BM0lR9fgMiQ", "dimensions": {"width": 1080, "height": 809}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9ec4\u5c71\u524d\u5c71\u8def\u4e0a\u9047\u5230\u5230\u98ce\u666f\uff0c\u5fd8\u8bb0\u4e86\u4f60\u7684\u540d\u5b57\u3002", "likes": {"count": 1}, "date": 1479193155, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c135.0.809.809/15057159_1170765212999032_3442416403708116992_n.jpg?ig_cache_key=MTM4Mzg5NDk0NzQ4ODM4NTE2OA%3D%3D.2.c", "is_video": false, "id": "1383894947488385168", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15057159_1170765212999032_3442416403708116992_n.jpg?ig_cache_key=MTM4Mzg5NDk0NzQ4ODM4NTE2OA%3D%3D.2"} , {"code": "jlBbPAO9yy", "dimensions": {"width": 640, "height": 640}, "comments_disabled": false, "comments": {"count": 0}, "owner": {"id": "673488830"}, "likes": {"count": 0}, "date": 1390624210, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1738998_647578668669581_1649545529_n.jpg?ig_cache_key=NjQwOTI0NzkxNTUyNTk3MTcw.2", "is_video": false, "id": "640924791552597170", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1738998_647578668669581_1649545529_n.jpg?ig_cache_key=NjQwOTI0NzkxNTUyNTk3MTcw.2"} , {"code": "BMykRIDgfWz", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4f55\u591c\u65e0\u6708\uff0c\u4f46\u5c11\u95f2\u4eba\u8033\u3002\uff08\u8d85\u7ea7\u6708\u4eae\uff09", "likes": {"count": 0}, "date": 1479125515, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15046853_1148182951939629_6029272315575926784_n.jpg?ig_cache_key=MTM4MzMyNzU0MjExMDQ1MTEyMw%3D%3D.2", "is_video": false, "id": "1383327542110451123", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15046853_1148182951939629_6029272315575926784_n.jpg?ig_cache_key=MTM4MzMyNzU0MjExMDQ1MTEyMw%3D%3D.2"} , {"code": "BM4ExDQAtkq", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u6000\u5ff5\u4e09\u4e9a\u7684\u6c99\u6ee9", "likes": {"count": 1}, "date": 1479310326, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15034541_1310458605694653_7713309853963255808_n.jpg?ig_cache_key=MTM4NDg3Nzg0ODM0NjY3OTU5NA%3D%3D.2", "is_video": false, "id": "1384877848346679594", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15034541_1310458605694653_7713309853963255808_n.jpg?ig_cache_key=MTM4NDg3Nzg0ODM0NjY3OTU5NA%3D%3D.2"} , {"code": "hkEBPpO94v", "dimensions": {"width": 640, "height": 640}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u4e0a\u6d77\u96fe\u973e", "likes": {"count": 0}, "date": 1386297049, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1173066_1435861236632847_1658878143_n.jpg?ig_cache_key=NjA0NjI1OTI3Njc3OTI2OTU5.2", "is_video": false, "id": "604625927677926959", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e15/1173066_1435861236632847_1658878143_n.jpg?ig_cache_key=NjA0NjI1OTI3Njc3OTI2OTU5.2"} , {"code": "BM0okpIgsKq", "dimensions": {"width": 1080, "height": 1054}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u5b8f\u6751\u6728\u96d5", "likes": {"count": 0}, "date": 1479194881, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c13.0.1054.1054/15034890_1117912754922773_5918182471068811264_n.jpg?ig_cache_key=MTM4MzkwOTQyNTQzNzM5MzU3OA%3D%3D.2.c", "is_video": false, "id": "1383909425437393578", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15034890_1117912754922773_5918182471068811264_n.jpg?ig_cache_key=MTM4MzkwOTQyNTQzNzM5MzU3OA%3D%3D.2"} , {"code": "BNoY70cADAN", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u9b54\u90fd\uff0c\u5e74\u5c3e\uff0c\u9727\u973e\u53c8\u7ffb\u4f86\u5566\u3002AQI\u76f4\u63a5\u98c6\u5347\u5230\u5169\u767e\u591a\uff0c\u7a7a\u6c23\u90fd\u6709\u5947\u602a\u7684\u5473\u9053\u3002", "likes": {"count": 0}, "date": 1480931512, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15253247_558220181034496_8464233114133069824_n.jpg?ig_cache_key=MTM5ODQ3NzM0ODE2ODI4MjEyNQ%3D%3D.2", "is_video": false, "id": "1398477348168282125", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15253247_558220181034496_8464233114133069824_n.jpg?ig_cache_key=MTM5ODQ3NzM0ODE2ODI4MjEyNQ%3D%3D.2"} , {"code": "BNhf7ULgSVK", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u7559\u4e0d\u4f4f\u7684\u8449\u3002\u79cb\u5929\u7684\u6821\u5712\uff0c\u8449\uff0c\u6563\u843d\u4e00\u5730\uff0c\u6a39\u679d\uff0c\u595a\u843d\u6e05\u6670\u3002", "likes": {"count": 1}, "date": 1480700297, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15275515_1244259745649155_8442696116591394816_n.jpg?ig_cache_key=MTM5NjUzNzc3NTAyMDM4NTYxMA%3D%3D.2", "is_video": false, "id": "1396537775020385610", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/e35/15275515_1244259745649155_8442696116591394816_n.jpg?ig_cache_key=MTM5NjUzNzc3NTAyMDM4NTYxMA%3D%3D.2"} , {"code": "BNcKs8MAX7v", "dimensions": {"width": 640, "height": 640}, "video_url": "https://scontent.cdninstagram.com/t50.2886-16/15319842_209202039531088_3476466217236037632_n.mp4", "comments_disabled": false, "owner": {"id": "673488830"}, "comments": {"count": 0}, "caption": "\u6cd5\u62c9\u5229\u5c71\u5730\u8eca\uff0c\u9a0e\u4e0a\u53bb\u611f\u89ba\u5f88\u6b63\uff015.8w\u7684\u55ae\u8eca\uff0c\u8001\u95c6\u8b93\u6211\u8a66\u9a0e\u5f88nice", "likes": {"count": 0}, "date": 1480521397, "thumbnail_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/15099459_1348242088521444_8414659854278328320_n.jpg?ig_cache_key=MTM5NTAzNzA1MzMyNjAzMjYyMw%3D%3D.2", "is_video": true, "id": "1395037053326032623", "display_src": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/15099459_1348242088521444_8414659854278328320_n.jpg?ig_cache_key=MTM5NTAzNzA1MzMyNjAzMjYyMw%3D%3D.2", "video_views": 6} , ];
showInstagram(data);

// module.exports = {
var Ins = {
    init: function() {
        render({
            "list": result
        })
        $(".open-ins").html("圖片來源于我的Instagram...");
    }
}
window.onload = function() {
    Ins.init();
}
</script>
